{{#each records}}
<ul>
  <li>
    <div class="name">{{this.name}}</div>
    <div class="category">{{this.category}}</div>
    <div class="amount">{{this.amount}}</div>
    <div class="date">{{this.date}}</div>
  </li>
</ul>
{{/each}}